*.obj
*.sbr
*.bsc
*.manifest
*.res
*.pdb
moderate/Debug/
moderate/Release/
WinHorus/Debug/
WinHorus/Release/
*.ilk
*.idb
*.exp
*.dep
*.user
*.tlog
*.Build.CppClean.log
*.FileListAbsolute.txt
*.recipe
*.log
